<!--Start Header Section-->
<header>
  <div class="overlay">
    <img src="/assets/images/cover.jpeg" alt="">
    <div class="content">
      <h1>Discover the <span>Magic of <em>Turkey</em></span></h1>
    </div>
  </div>
</header>
<!--End Header Section-->

<!------------------------------------------------------------------------------------------------------------>


<!--Start Content Section-->
<div class="container">
  <div class="content-50-left">
    <div class="img-coll">
      <img src="/assets/images/turkey1.jpeg" alt="">
    </div>
    <div class="img-col">
      <img src="/assets/images/turkey2.jpeg" alt="">
      <img src="/assets/images/turkey3.jpeg" alt="">
    </div>
  </div>
  <div class="content-50-right">
    <h1>Turkey: Explore, Discover, Immerse</h1>
    <p>
      Turkey, where the East meets the West, is a land of diverse landscapes, rich history,
      and vibrant culture. From the bustling streets of Istanbul to the ancient ruins of
      Ephesus and the surreal landscapes of Cappadocia, Turkey offers a journey like no other.
    </p>
    <p>
      The natural beauty of Turkey is as captivating as its cultural heritage. From the stunning
      coastline along the Aegean and Mediterranean Seas to the otherworldly landscapes of
      Pamukkale's white terraces, Turkey is a haven for nature lovers.
    </p>
    <a href="#" class="read-more">Read more...</a>
  </div>
</div>
<!--End Content Section-->

<!------------------------------------------------------------------------------------------------------------>

<!--Start Exploring Section-->
<div class="container-2">
  <header>
    <div class="head-container">
      <h1>Where to go <span class="highlight">and</span> What to do</h1>
    </div>

  </header>
  <nav class="categories">
    <ul>
      <li class="active">Top Attractions</li>
      <li><a Link="https://yummyistanbul.com/restaurants-in-turkey/" target="_blank">Resturant</a></li>
      <a href="https://www.booking.com/country/tr.html?aid=308014&pagename=tr&label=msn-T1EyMWFU08urhfFv*bqUGA-80333249008193:tikwd-80333408245069:loc-187:neo:mte:lp146223:dec:qsAccommodation%20Options%20in%20turkey&utm_campaign=Turkey&utm_medium=cpc&utm_source=bing&utm_term=T1EyMWFU08u"
        target="_blank">
        <li>Accommodation Options</li>
      </a>
      <a href="https://www.roughguides.com/turkey/getting-around/" target="_blank">
        <li>Local Transportation</li>
      </a>
    </ul>
  </nav>

  <section class="cards">
    <div class="card">
      <img src="/assets/images/hagia_sophia.jpg" alt="Hagia Sophia">
      <h3>Hagia Sophia (Istanbul)</h3>
      <p>The Hagia Sophia has served as a church, mosque, and now a museum. Its stnning Byzantine architecture and
        massive dome <br> are truly breathtaking and its rich history <br> is a testament to Turkey's cultural fusion
        <br> of East and West.
      </p>
      <div class="btn-con">
        <a href="https://muze.gen.tr/muze-detay/ayasofya" target="_blank"><button><strong>Explore</strong></button> </a>
      </div>
    </div>

    <div class="card">
      <img src="/assets/images/cappadocia.jpg" alt="Cappadocia">
      <h3>Cappadocia</h3>
      <p>Known for its surreal, moon-like <br> landscape of fairy chimneys, cave <br> dwellings and underground cities.
        A hot- <br> air balloon ride at sunrise over this unique region is a once-in-a-lifetime experience. <br>. </p>
      <div class="btn-con">
        <a href="https://voyagefox.net/cappadocia-turkey-guide/"
          target="_blank"><button><strong>Explore</strong></button></a>
      </div>
    </div>

    <div class="card">
      <img src="/assets/images/pamukkale.jpg" alt="Pamukkale">
      <h3>Pamukkale</h3>
      <p>Meaning "Cotton Castle," it's famous for its white terraces made of travertine, a <br> mineral-rich hot spring
        that cascades down <br> the mountainside. It's a stunning natural <br> wonder that has been used as spa since
        <br> Roman times.
      </p>
      <div class="btn-con">
        <a href="https://www.thisislandlife.com/travel/pamukkale-cotton-castle-turkiye-travel-guide/"
          target="_blank"><button><strong>Explore</strong></button></a>
      </div>
    </div>

    <div class="card">
      <img src="/assets/images/topkapi.jpg" alt="Topkapi Palace">
      <h3>Topkapi Palace (Istanbul)</h3>
      <p>Once the primary residence of Ottoman sultans, Topkapi Palace is a sprawling complex that showcases the
        opulence of the Ottoman Empire.Explore the royal chambers, lush courtyards, and treasures. <br>.</p>
      <div class="btn-con">
        <a href="https://muze.gen.tr/muze-detay/topkapi" target="_blank"> <button><strong>Explore</strong></button></a>
      </div>
    </div>
  </section>
</div>
<!--End Exploring Section-->

<!------------------------------------------------------------------------------------------------------------>

<!--Go Home Section-->
<section>
  <div class="button">
    <a [routerLink]="['/home']">Go Back to Home</a>
  </div>
</section>