@font-face {
  font-family: 'CustomFont';
  /* src: url('../assets/Fonts/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf') format('woff2'); */
    src: url('/assets/Fonts/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf') format('woff2');
}

*{
    font-family: 'CustomFont', sans-serif;
}

body{
    background-color: black;
}



.username-wrap{
    margin-top: 30%;
    width: 100%;
}

.login-wrap h2{
    display: flex;
    justify-content: center;
    color:white;
    
}

.login-wrap label , p{
    color:white;
    margin-left: 10px;
}

.login-wrap input{
    border-radius: 15px;
    background-color: #333333;
    border-color: rgb(121, 120, 120) ;
    color: white;

}

.login-wrap img{
     /* width: 22rem; */
    /* height: 45rem;  */
    border-radius: 45px;
    padding: 15px;
     width: 100%; 
    height: 100%; 
}

.login-wrap{
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 55rem;
    height: auto;
    margin: 0 auto;
    background-color: #333333;
    
}

.login-wrap .login-btn{
    width: 100%;
    background-color: #2f80ed;
    margin-top: -50px;
    border: none;
    border-radius: 10px;
    

}

.login-wrap .signup-btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.login-wrap .signup-btn-wrapper button{
    margin-top: -1rem;
       color: #2f80ed;
}



.form-wrapper{
    width: 100%;
}

.showpassword i{
  
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
}

.showpassword i:hover {
  color: rgba(255, 255, 255, 0.5);
  transition:all ease-in-out 0.3s ;
}

.login-wrap .password-wrap {
     position: relative;
}

.login-wrap .terms{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
    
}

.login-wrap .terms p{
    font-size: 12px;
    margin-top: 18px;
}


.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15px 0; 
    color: white;
}


.divider::before, 
.divider::after {
    content: '';
    flex: 1; 
    border-bottom: 1px solid white; 
    margin: 0 10px; 
}

.divider span {
    white-space: nowrap; 
    padding: 0 10px; 
    font-size: 16px; 
}
.login-wrap .form-wrapper .socialMedia{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.login-wrap .form-wrapper .socialMedia a{
    padding: 10px 30px;
    border-radius: 15px;
    background-color:#2f80ed ;
    color: white;
     text-decoration: none;
        cursor: pointer;
}
.login-wrap .form-wrapper .socialMedia .google{
    padding:10px 45px ;
}

.error-username p{
    color: red;
}

input::placeholder{
    color: white;
    opacity: 20%;
}

.retHome{
    width: 100%;
    background-color: #2f80ed;
    /* margin-top: -50px; */
    border: none;
    border-radius: 10px;
    padding: 10px;
}




/* Media queries */


@media only screen and (max-width:1200px){
     .login-wrap{
        width:45rem;
        height: 42rem;    
    }
   .login-wrap img{
        width:22rem;
        height: 42rem; 
    }
    .login-wrap .form-wrapper .signup-btn-wrapper p 
    {
        margin-top:-80px;
        margin-right: 10px;
    }

    .login-wrap .form-wrapper .signup-btn-wrapper button{
        margin-top: -96px;
    }

    .login-wrap .form-wrapper .socialMedia a{
        padding: 5px 25px;
        margin-top:10px ;
        margin-bottom: 25px;
       
    }
    .login-wrap .form-wrapper .socialMedia .google{
        padding: 5px 26px;
    }

    .login-wrap input{
        height: 32px;
    }
    .login-wrap label
    {
        font-size: 14px;
    }
    .login-wrap .form-wrapper h2{
        font-size: 28px;
    }

    .login-wrap .form-wrapper .divider{
        margin: 0;
    }
  
}




@media only screen and (max-width:992px){
    .login-wrap{
        width:41rem;
        height: 38rem;    
    }
    .login-wrap img{
        width:19rem;
        height: 38rem; 
    }
    .login-wrap .form-wrapper .signup-btn-wrapper p 
    {
        margin-top:-80px;
        margin-right: 10px;
        font-size: 13px;
    }

    .login-wrap .form-wrapper .signup-btn-wrapper button{
        margin-top: -100px;
    }

    
    .login-wrap .form-wrapper .socialMedia a{
        padding: 5px 17px;
        margin-top:10px ;
        margin-bottom: 25px;
    }
    .login-wrap .form-wrapper .socialMedia .google{
        padding: 5px 26px;
    }

    .login-wrap input{
        height: 30px;
        /* margin-top: -10px; */
    }
    .login-wrap label
    {
        font-size: 14px;
         /* margin-top: -1000px; */
        
    }
    .login-wrap .form-wrapper h2{
        font-size: 26px;
        margin-top: 70px;
    }

    .login-wrap .form-wrapper .divider{
        margin: 0;
    }
    .login-wrap .form-wrapper .terms{

        margin-bottom: -10px;
    }

   .login-wrap .form-wrapper .terms label{

        font-size: 13px;
   }
    
  
}



@media only screen and (max-width:768px){

    .login-wrap img{
        display: none;
    }
    .login-wrap{
          width:25rem;
        height: 40rem;
        display: flex;
        justify-content: center;
        background-image: url('/assets/images/6bd46eef-117b-41ba-98a8-eb7e8f8334d4.png'); /* Background image */

        background-size: cover;
        background-position: center;
        padding: 20px;
        position: relative;
    }


    
    .login-wrap .signup-btn-wrapper button{
    margin-left: 0;
    display: flex;
    justify-content: center;
    margin-top: 0.01rem;
    }

    
    .login-wrap input {
        height: 28px;
    }

    .login-wrap .form-wrapper .signup-btn-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-wrapper {
        background-color: rgba(0, 0, 0, 0.6); /* Transparent overlay */
        border-radius: 10px;
        /* padding: 20px; */
        color: white;
    }
}


@media only screen and (max-width:576px){

      .login-wrap img{
        display: none;
    }
    .login-wrap{
          width:22rem;
        height: 40rem;
        display: flex;
        justify-content: center;
        background-image: url('/assets/imgs/6bd46eef-117b-41ba-98a8-eb7e8f8334d4.png'); /* Background image */

        background-size: cover;
        background-position: center;
        padding: 20px;
        position: relative;
    }


    
    .login-wrap .signup-btn-wrapper button{
    margin-left: 0;
    display: flex;
    justify-content: center;
    margin-top: 0.01rem;
    }

    
    .login-wrap input {
        height: 28px;
    }

    .login-wrap .form-wrapper .signup-btn-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-wrapper {
        background-color: rgba(0, 0, 0, 0.6); /* Transparent overlay */
        border-radius: 10px;
        /* padding: 20px; */
        color: white;
    }

    .login-wrap .form-wrapper .socialMedia a{
     padding: 3px 10px;
    }
    .login-wrap .form-wrapper .socialMedia .google{
        padding: 3px 13px;
    }

    .login-wrap .form-wrapper .signup-btn-wrapper p{
        font-size: 11px;
    }

    .login-wrap .form-wrapper .signup-btn-wrapper button{
        padding: 0;
    }
    
    
}