<button class="retHome" [routerLink]="['/home']"> <i class="fa-solid fa-arrow-left"></i> Return to home </button>

<div class="dash-body">


    <div class="user-profile">

        <div class="user-profile-images">

            <img src="/assets/images/Capture.PNG" alt="" class="backgroumd-image">

            <img src="/assets/images/user.png" alt="" class="user-image">

        </div>

        <div class="user-name">
            <h1> {{username}} </h1>
            <p class="bio">Student at Modern Academy Maadi | Frontend developer</p>
            <p class="location">Giza, Al Jizah, Egypt</p>
            <button class="create-post">Create Post</button>
            <i class="fa-solid fa-pencil"></i>
        </div>




    </div>



</div>

<app-post></app-post>