@font-face {
  font-family: 'CustomFont';
  /* src: url('../assets/Fonts/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf') format('woff2'); */
    src: url('/assets/Fonts/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf') format('woff2');
}


*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'CustomFont', sans-serif;
}

.hero {
    /* background-image: url("../assets/images/boatSee\ image.jpg"); */
    background-image: url("/assets/images/boatSee\ image.jpg");
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: 100% 100%;
    opacity: 1;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.hero .hHead{
  margin-right:2em;
  overflow: hidden;
}

.hero h1{
  color: #000000;
  font-weight: 700;
}
  
.hero nav,ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
nav ul li {
    margin: 0 20px;
  }

.hero a{
  color: #000000;
  text-decoration: none;
  margin: 2em;
  font-weight: 800;
}

.hero a:hover{
  font-style: italic;
  text-decoration: underline;
}

.hero .signUp{
  border: 2px solid #0c0c0c;
  border-radius: 15px;
  padding-top: 0.5em;
}

button{
    border-radius: 15px;
  }

  
  .hero h1 {
    font-size:   
   48px;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .btnHero {
    background-color: #fff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 800;
  }

  .hHeadTwo{
    overflow: hidden;
  }

.firstSection{
    background-color: #0c0c0c;
    color: #fff;
}

.firstDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8%; 
    padding-top: 2em;
    padding-bottom: 2em;   
}

.firstDiv .secondP{
  margin-left: 50%;
  margin-top: 1.5em;
}

.firstHead{
    color: #2f80ED;
    padding-top: 1em;
    padding-bottom: 1em;
}

.secondSection{
    background-color: #0c0c0c;
    color: #fff;
}

.secondDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.iconDiv{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    min-width: 400px;
    max-height: 200px;
    margin-top: 0.8em;
    border-radius: 10px;
    padding-top: 0.2em;
    background-color: #333333;

}

.icon{
    max-width: 20px;
    max-height: 20px;
}

.thirdSection{
    background-color: #0c0c0c;
}

.thirdHead{
  text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #2f80ED;
    padding-top: 2em;
    padding-bottom: 2em;
}

.thirdDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2em;
}

.thirdDiv .photo{
    border-radius: 20px;
    margin-top: 1em;
}


.fourthSection, .fifthSection{
  background-color: #0c0c0c;
  text-align: center;
  padding: 1em;
  padding-top: 2em;
}

.fourthSection h1{
  color: #2f80ED;
  justify-content: center;
  overflow: hidden;
}

.fourthSection p{
  color: #fff;
  padding-top: 0.8em;
}

.btnOne{
  background-color:#fff;
  min-width: 250px;
  border:none;
  margin-top: 0.8em;
  margin-right: 0.8em;
  min-height: 3em;
}

.btnTwo{
  background-color: #fff;
  border: none;
  min-height: 3em;
}

.fifthSection p{
  color: #fff;
  padding-top: 0.8em;
}

.fifthSection h1{
  color: #2f80ED;
  justify-content: center;
  overflow: hidden;
}

.btnThree{
  background-color: #fff;
  border: none;
  margin-top: 0.8em;
  margin-right: 0.8em;
  min-height: 3em;
}

.btnFour{
  border: none;
  margin-top: 0.8em;
  min-height: 3em;
}

footer{
  background-color: #153348;
  color:#fff;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 40%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.profile-imgggg{
   border-radius: 50%;
    width: auto;
    height: 5.5rem;
    position: absolute;
    top: 10%;
    right:6%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
  }
.profile-img-shown{
    display: block;
}

.profile-img-disabled{
  display: none;
}


/*------------------------------------ Media Query --------------------------------------*/

@media screen and (min-width:375px){
  .hero nav,ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .hero .signUp{
    padding-bottom: 1em;
  }


  .firstDiv .firstP{
    margin-right: 10px;
  }

  .firstDiv .secondP{
    min-width: 100%;
    margin-right: 65px;
  }

  .iconDiv{
    min-width: 300px;
  }

  .btnTwo{
    margin-top: 1em;
  }
}


@media screen and (min-width:768px){


  .hero nav {
    display: flex;
    flex-direction: row;
  }
  
  .firstDiv .firstP{
    margin-left: 50px;
  }

  .firstDiv .secondP{
    min-width: 100%;
    margin-right: -110px;
  }
}


@media screen and (min-width:1440px){
  .hero nav,ul{
    display: flex;
    flex-direction: row;
  }

  .firstHead{
    margin-left: 44%;
  }

  .firstDiv .firstP{
    margin-left: 10%;
  }

  .firstDiv .secondP{
    margin-left: 82%;
  }
}